/* geral */
body, p, h1, h2, input, textarea {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 30px;
}

/*navbar*/
#navbar {
    background-color: #000; 
    opacity: .7;
    position: fixed;
    width: 99%;
    color: rgb(237, 30, 36);
    padding: 0 10px;
    height: 60px;
    z-index: 9999;
}

#navbar h2, #navbar ul, #navbar-list li, #navbar nav  {
    display: inline-block;
}


#navbar h2 {
    margin: 0;
    line-height: 60px;
    margin-left: 55px;
}

#navbar img{
    height: 40px;
    transform: rotate(45deg);
    position: absolute;
    top: 10px;
    left: 20px;
}

#navbar nav {
    float: right;
    margin-right: 20px;
}

#navbar ul {
    margin-top: 22px;;
}

#navbar li {
    margin: 0 10px;
}

#navbar-list li a {
    text-decoration: none;
    color: rgb(237, 30, 36);
    font-weight: bold;
}

#navbar-list li a:hover {
  border-bottom: 1px solid rgb(237, 30, 36);
}

/*banner*/
#main-banner {
    height: 70vh;
    background-image: url('../images/back.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding-top: 15vh;
}

#banner-info {
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: #fff;
    padding: 50px;
}

#banner-info img {
    height: 120px;
    border-radius: 50%;
    background-color: rgb(237, 30, 36); 
    margin-top: 30px;
    margin-bottom: 30px;
}

#banner-info p {
    background-color: rgb(237, 30, 36); 
    font-weight: bold;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
}

/* About */
#about-section {
    text-align: center;
    background-color: rgb(252, 0, 1);
    color: #fff;
    padding-top: 50px;
    height: 350px;
}

#about-section h2 {
    margin-bottom: 20px;
}

#about-section p {
    max-width: 650px;
    margin-right: auto;
    margin-left: auto;
    line-height: 30px;;
}

/* skills */

#skills-section {
    margin-top: -80px;
    background-color: #fff;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    padding: 10px;
}

#skills-section .container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
}

.skills-container{
    flex: 1 1 0;
    text-align: center;
    padding: 30px 30px;
    border-radius: 15px;
    border: 2px solid #ccc;
    margin: 10px;
    width: 80%;
}

.skills-container hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, #ccc, transparent);
}

.skills-container h3 {
    color: rgb(237, 30, 36);
    font-size: 20px;
}

.skills-container img {
    width: 100%;
    max-height: 200px;  
    padding: 0;
    margin-bottom: 25px;

}

.skills-container .subtitle {
    font-weight: bold;
    color: rgb(237, 30, 36);
    margin-top: 50px;
    margin-bottom: 15px;
}
 .skills-container p {
    line-height: 25px;
 }

 /*jobs */

 #jobs-section {
     text-align: center;
     padding-top: 50px;
 }

 #jobs-section h2 {
     color: rgb(237, 30, 36);
     margin-bottom: 30px;
 }

 #jobs-section p {
     margin-bottom: 50px;
 }

#jobs-section a {
    font-weight: bold;
    color: rgb(237, 30, 36);
}

.jobs-container {
   display: flex;
   flex-direction: row; 
   justify-content: space-around;
   max-width: 1200px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 50px;
}

.job-box{
    flex: 1 1 200px;
    margin-left: 25px;
    margin-right: 25px;
    background-size: cover;
    height: 300px;
    transition: transform .5s ease;
}

.job-box:hover{
  
    transform:scale(1.05);
}

.proj1 {
    background-image: url('../images/time7.jpeg');
}

.proj2 {
    background-image: url('../images/missao2.png');
}

.proj3 {
    background-image: url('../images/missao3.png');
}

/* footer */

footer {
   padding: 50px 0; 
   background-color: #fc0001;
   color: #fff;
   text-align: center;
}

footer img {
    height: 50px;
    margin: 30px 0;
}

footer p {
    margin-top: 25px;
}

footer form {
    width: 400px;
    margin-right: auto;
    margin-left: auto;
}

footer input, footer textarea {
    border: none;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    width: 100%;
    display: block;
}

footer .detail {
    font-weight: bold;
}

/*responsivo*/
@media(max-width: 650px) {

    /* geral */

    #navbar {
        background-color: #000; 
        padding: 0;
        position: static;
        opacity: 1;
        width: 100%; 
    }

    #navbar img {
        height: 3.5rem;
        margin-top: -5px;
    }

    #navbar ul {
        height: 3.5rem;
        margin-top: -5px;
    }

    p, input, textarea {
        font-size: 1.2rem;
    }

    #navbar h2 {
        display: none;
    }

    #navbar img {
        top: 9px;
    }

    #navbar ul {
        margin-top: 1.2rem;
    }

    #navbar-list li a  {
        font-size: 1.1rem;
    }

    #main-banner {
        height: 60vh;
        padding-top: 5vh;
        padding-bottom: 10vh;
    }

    #banner-info {
        width: 60%;
    }

    #banner-info p {
        margin: 0;
        width: auto;
    }

    /* about */
    #about-section {
        padding: 1.5rem;
        padding-bottom: 0;
    }

    /*skills*/
    #skills-section {
        margin-top: -70px;
        width: 90%;
    }

    #skills-section .container{
        flex-direction: column;
    }

    .skills-container h3, .skills-container .subtitle {
        font-size: 1.3rem;
    }

    .skills-container {
        padding: 25px;
    }

    .skills-container img {
        max-width: 300px;
        min-width: 200px;
    }

    .jobs-container {
        flex-direction: column;
    }
    
    /* jobs */

    .jobs-container {
        flex-direction: column;
        margin-bottom: 0;
    }

    #jobs-section p, #jobs-section h2 {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .job-box{
        margin-bottom: 2rem;
        flex: 1 1 300px;
    }

    /*footer*/
    footer {
       padding: 50px 15px;
    }

    footer form{
        width: 100%;
    }

    .detail {
        margin-top: 10px;
        display: block;
    }
}